.tittle{
    font-family:'Times New Roman', Times, serif;
    color: whitesmoke;
}

.bestSeller{
    font-size: 12px;
    font-weight: bold;
    padding: 2px 4px;
    background-color: var(--marron);
    display: table-cell;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 3px ;
}
.image{
    box-shadow:0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%) ;
}

.motion:hover{
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    transition: 0.2s;
    animation: ease;
    cursor: pointer;
}