.container{
    display: flex;
    min-height: 200px;
    box-shadow:rgba(65, 65, 65, 0.24) 0px 10px 36px 0px, rgba(60, 60, 60, 0.16) 0px 0px 0px 1px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.90);
    border-radius: 5px;
    margin: 0.5rem 0rem 0.5rem 0rem !important;
    transition: 0.2s;
}

.container:hover{
    background-color: rgba(0, 0, 0, 0.95);
}

.etiquetaA{
    width: 80%;
    margin: 13px auto;
    display: flex;
    justify-content: end;
}
.etiquetaA:link, .etiquetaA:visited, .etiquetaA:active{
    text-decoration: none;
}
.etiquetaB{
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: end;
}
.etiquetaB:link, .etiquetaB:visited, .etiquetaB:active{
    text-decoration: none;
}