.containerForm{
    width: 100%;
    background: var(--azulOscuro);
    color: white !important;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2rem;
    border-radius: 15px;
    padding: 2rem 0px 1rem 0px;
}

.marginTB{
    margin-top: 10px;
}
